.mapPage {
  img[alt='cat-marker'] {
    border-radius: 50%;
  }

  p[alt='cat-name'] {
    background-color: lightyellow;
    color: brown;
    margin: 0;
    position: relative;
    top: 25px;
  }

  .showAnother {
    width: 160px;
    height: 40px;
    font-size: 14px;
    position: fixed;
    right: 6px;
    bottom: 6px;
    cursor: pointer;
    z-index: 2;
  }
}
