.uploadForm {
  padding: 10px;
  margin: 4px;
  border: 1px solid brown;
  border-radius: 10px;
  background-color: inherit;
  opacity: inherit;

  button {
    margin-top: 2px;
    margin-left: 10px;
    height: 30px;
  }
}
